.h1-auth {
    text-align: center;
    color: #333;
    margin-bottom: 2rem;
    font-size: 2.5rem;
}

.h1-auth {
    color: #444;
    margin-bottom: 1.2rem;
    font-size: 1.8rem;
}

.authentification{
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-auth {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin: 2rem auto;
    max-width: 1200px;
}

.section-auth .main-div {
    width: 45%;
    max-width: 500px;
    padding: 1.5rem;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.second-div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.second-div div {
    display: flex;
    flex-direction: column;
}

.form-auth {
    display: flex;
    flex-direction: column;
}

.form-auth label {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    font-weight: 500;
    color: #555;
}

.form-auth input, textarea {
    padding: 0.6rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 1rem;
    font-size: 1rem;
}

.form-auth input[type="file"] {
    border: 1px dashed #ddd;
    padding: 10px;
}

.form-auth input:focus, textarea:focus {
    border-color: none;
    outline: none;
    box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
}

.form-auth textarea {
    resize: none;
}

.form-auth button {
    margin-top: 1.5rem;
    padding: 0.8rem 1.5rem;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.oauthGoogle{
    padding: 0.8rem 1.5rem;
    border: none;
    border-radius: 25px;
    font-size: 1rem;
    cursor: pointer;
    background-color: #f16152;
    color: white;
    display: flex;
    align-items: center;
    margin-top: 25px;
    width: 100%;
    justify-content: center;
    transition: all 0.3s ease;
}

.oauthGoogle:hover {
    background-color: #da402f;

}

.oauthGoogle img {
    margin-right: 15px;
}

.span-error {    
    width: 100%;
    margin-top: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.span-error p {
    color: white;
    background-color: #ff0019;
    padding: 0.5rem 2rem;
    border-radius: 4px;
    font-size: 1.1em;
}

.oblig{
    color: red
}

.imagePreview {
    width: 100%;
    display: flex;
    justify-content: center;
}

.imagePreview img {
    border-radius: 50%;
    transition: all 0.3s ease;
}

.imagePreview img:hover {
    transform: scale(1.03);
}

@media (max-width: 1050px) {
    section {
        flex-direction: column;
        align-items: center;
    }

    section div {
        /* width: 90%; */
        /* max-width: 90%; */
        margin-bottom: 2rem;
    }

    .h1-auth {
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }

    .authentification img {
        width: 80px;
        height: 80px;
        margin-bottom: 1rem;
    }

    .section-auth {
        flex-direction: column;
        align-items: center;
        /* margin: 1rem; */
        max-width: 100%;
    }

    .section-auth .main-div {
        width: 90%;
        /* max-width: 100%; */
        padding: 1rem;
    }

    .second-div {
        flex-direction: column;
        margin-bottom: 0;
        width: 100%;
    }

    .second-input {
        width: 100%;
    }

    .second-div div {
        width: 100%;
        margin-bottom: 1rem;
    }

    .form-auth label {
        font-size: 0.9rem;
    }

    .form-auth input, textarea {
        font-size: 1rem;
    }

    .form-auth button {
        width: 100%;
        padding: 0.7rem;
        font-size: 0.9rem;
    }

    .oauthGoogle {
        font-size: 0.9rem;
        padding: 0.7rem;
    }

    .oauthGoogle img {
        width: 20px;
        height: 20px;
    }

    .span-error p {
        font-size: 0.9rem;
        padding: 0.4rem 1.5rem;
    }

    .imagePreview img {
        width: 100px;
        height: 100px;
    }

    .second-input{
        width: 95%;
    }
}

